.form-heading { color: #fff; font-size: 23px; }
.panel h2 { color: #444; font-size: 18px; margin: 0 0 8px 0; }
.panel p { color: #777; font-size: 14px; margin-bottom: 30px; line-height: 24px; }
.login-form { text-align: center; }
.login-form .form-group {
    margin-bottom: 10px;
}
.login-form .control-form {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 3px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}
.login-form .btn.btn-primary {
    background: #f0ad4c none repeat scroll 0 0;
    border-color: #f0ad4c;
    color: #fff;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    width: 100%;
}
.login-form .btn-btn-primary.reset { background: #ff9900 none repeat scroll 0 0; }
.main-div {
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    margin: 10px auto 30px;
    max-width: 30%;
    padding: 50px 70px 70px 71px;
}
.forgot { text-align: left; margin-bottom: 30px; }
.forgot a {
    color: #777;
    font-size: 14px;
    text-decoration: underline;
}
.botto-text {
    color: #fff;
    font-size: 14px;
    margin: auto;
}
.back { text-align: left; margin-top: 10px; }
.back a {
    color: #444;
    font-size: 13px;
    text-decoration: none;
}